In [9]:
import csv
import mysql.connector as connection
import logging
import os

class MySqlOperation:
    
    def __init__(self,host,db,user_name,password):
        self.conn = connection.connect(host=host, database = db,user=user_name, passwd=password,use_pure=True)
        os.makedirs('Challenge_3',exist_ok=True)
        os.makedirs('Challenge_3\\log',exist_ok=True)
        logging.basicConfig(filename=os.path.join(os.getcwd(),'Challenge_3','log','log.txt'),
                            level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
        
    def load_data(self):
        logging.info('reading csv file started...')
        try:
            f = open('carbon_nanotubes.csv','r')
            data = csv.reader(f,delimiter=';')
            next(data)
            return data
        except Exception as e:
            logging.error('error occured while reading file {}'.format(str(e)))
            raise e
        logging.info('reading csv file finished...')
        

    def create_table(self):
        logging.info('creating table started...')
        try:
            cursor = self.conn.cursor()
            query = """ CREATE TABLE IF NOT EXISTS test.carbon_tube(Chiral_indice_n VARCHAR(40),Chiral_indice_m VARCHAR(40),Initial_atomic_coordinate_u VARCHAR(40),
            Initial_atomic_coordinate_v VARCHAR(40),Initial_atomic_coordinate_w VARCHAR(40),Calculated_atomic_coordinates_u VARCHAR(40),
            Calculated_atomic_coordinates_v VARCHAR(40),Calculated_atomic_coordinates_w VARCHAR(40)) """
            cursor.execute(query)
        except Exception as e:
            logging.error('error occured while creating table {}'.format(str(e)))
        logging.info('creating table finished...')

    def save_data(self,data_rows):
        logging.info('data insertion into table started...')
        try:
            cursor = self.conn.cursor()
                for row in data_rows:
                    query = "INSERT INTO test.carbon_tube VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
                    logging.debug('query: {}'.format(query))
                    logging.debug('row: {}'.format(row))
                    cursor.execute(query,row)
                    self.conn.commit()
        except Exception as e:
            logging.error('error occured while inserting data {}'.format(str(e)))
        finally:
            self.conn.close()
            logging.info('db connection closed...')
        logging.info('data insertion into table finished...')
    
        
if __name__ == '__main__':
    mySqlOperation = MySqlOperation(host="localhost", db = 'test',user_name="root", password="root")
    data = mySqlOperation.load_data()
    mySqlOperation.create_table()
    mySqlOperation.save_data(data)

KeyboardInterrupt:

In [27]:
class MySqlDBOperation:
    def __init__(self,host,db,user_name,password):
        try:
            self.conn = connection.connect(host=host, database = db,user=user_name, passwd=password,use_pure=True)
            os.makedirs('Challenge_3',exist_ok=True)
            os.makedirs('Challenge_3\\log',exist_ok=True)
            logging.basicConfig(filename=os.path.join(os.getcwd(),'Challenge_3','log','log.txt'),
                                level=logging.DEBUG,format='%(asctime)s %(levelname)s %(message)s')
        except Exception as e:
            print('erorr occured'.format(str(e)))
    
    def execute_query(self,query):
        print('Started executing Query {} '.format(query))
        try:
            self.my_cursor = self.conn.cursor()
            self.my_cursor.execute(query)
            print('Query {} executed successfully.'.format(query))
        except Exception as e:
            print('error occured while executing query.')

if __name__ == '__main__':
    mySqlOperation = MySqlDBOperation(host="localhost", db = 'test',user_name="root", password="root")
    query = 'CREATE DATABASE IF NOT EXISTS test_db'
    mySqlOperation.execute_query(query)
    query = 'DROP DATABASE IF EXISTS test_db'
    mySqlOperation.execute_query(query)

Started executing Query CREATE DATABASE IF NOT EXISTS test_db
Query CREATE DATABASE IF NOT EXISTS test_db executed successfully.
Started executing Query DROP DATABASE IF EXISTS test_db
Query DROP DATABASE IF EXISTS test_db executed successfully.

In [20]:
my_cursor.execute('CREATE DATABASE test_db')

In [19]:
my_cursor.execute('DROP DATABASE test_db')

None

In [32]:
import mysql.connector as connection

host='localhost'
user_name='root'
password='root'
try:
    conn = connection.connect(host=host,user=user_name, passwd=password,use_pure=True)
    cursor = conn.cursor()
    print('connected to mysql database.')
except Exception as e:
    print('error while connection mysql db')

connected to mysql database.

In [38]:
try:
    cursor.execute('CREATE DATABASE testdb')
    print('database created.')
except Exception as e:
    print('error occured while creating database.')

database created.

In [35]:
try:
    cursor.execute('Show databases')
    for db_name in cursor.fetchall():
        print(db_name[0])
except Exception as e:
    print('error occured while retriving databases.')

information_schema
mysql
performance_schema
sakila
student
sys
test
testdb
world

In [36]:
try:
    cursor.execute('DROP database testdb')
    print('database dropped.')
except Exception as e:
    print('error occured while dropping databases.')

database dropped.

In [37]:
try:
    cursor.execute('Show databases')
    for db_name in cursor.fetchall():
        print(db_name[0])
except Exception as e:
    print('error occured while retriving databases.')

information_schema
mysql
performance_schema
sakila
student
sys
test
world

In [66]:
try:
    query = """ CREATE TABLE IF NOT EXISTS testdb.carbon_tube(Chiral_indice_n VARCHAR(40),Chiral_indice_m VARCHAR(40),
            Initial_atomic_coordinate_u VARCHAR(40),Initial_atomic_coordinate_v VARCHAR(40),
            Initial_atomic_coordinate_w VARCHAR(40),Calculated_atomic_coordinates_u VARCHAR(40),
            Calculated_atomic_coordinates_v VARCHAR(40),Calculated_atomic_coordinates_w VARCHAR(40)) """
    cursor.execute(query)
    print('table created.')
except Exception as e:
    print('error occured while creating table.',e)

table created.

In [65]:
try:
    cursor.execute('DESC testdb.carbon_tube')
    for desc in cursor.fetchall():
        print(desc)
except Exception as e:
    print('error occured while creating table.',e)

error occured while creating table. 1146 (42S02): Table 'testdb.carbon_tube' doesn't exist

In [63]:
try:
    cursor.execute('DROP TABLE testdb.carbon_tube')
    print('Table dropped')
except Exception as e:
    print('error occured while dropping table.')

Table dropped

In [67]:
try:
    cursor.execute("""INSERT INTO test.carbon_tube(Chiral_indice_n,Chiral_indice_m,Initial_atomic_coordinate_u,
                   Initial_atomic_coordinate_v, Initial_atomic_coordinate_w,Calculated_atomic_coordinates_u,
                   Calculated_atomic_coordinates_v,Calculated_atomic_coordinates_w)
                   VALUES('2','1','0,717298','0,642129','0,231319','0,738414','0,65675','0,232369')""")
    print('Record inserted.')
except Exception as e:
    print('error occured while inserting record.')

Record inserted.

In [68]:
try:
    cursor.execute("""INSERT INTO test.carbon_tube VALUES('2','1','0,679005','0,701318','0,017033',
    '0,721039','0,730232','0,017014')""")
    print('Record inserted.')
except Exception as e:
    print('error occured while inserting record.')

Record inserted.